//for loop
@for $i from 0 through 12 {
    $w: calc(($i / 12) * 100%);
  
    .medium-#{$i} {
      flex-basis: $w;
    }
  }//end for loop

//footer
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    .barFoot{
        grid-column: 1 / span 2;
    }
}//end footer